.Dropdown {
    background: white;
    top: 0;
    left: 0;
    overflow-y: scroll;
}

.Dropdown > .OptionList {
    position: relative;
}

.Dropdown > .OptionList > .Option {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}